@import "tailwindcss";

@theme {
    --color-gym-50: #ffe5e7;
    --color-gym-100: #fcbfc3;
    --color-gym-200: #f58f95;
    --color-gym-300: #f1606a;
    --color-gym-400: #ec3e4a;
    --color-gym-500: #e83d47;
    --color-gym-600: #d2343e;
    --color-gym-700: #b42c35;
    --color-gym-800: #93232a;
    --color-gym-900: #70191f;

    --color-dark: #0e0f11;

    --font-body: 'Inter', 'sistem-ui', sans-serif;
    --font-heading: 'Inter', 'sistem-ui', sans-serif;

    @keyframes scroll {
        0% {
        transform: translateX(0%);
        }
        95% {
        transform: translateX(-95%);
        }
    }

    @keyframes scrollReverse {
        0% {
        transform: translateX(-55%);
        }
        95% {
        transform: translateX(55%);
        }
    }

    @animation scroll {
        animation: scroll 100s linear infinite;
    }

    @animation scrollReverse {
        animation: scrollReverse 100s linear infinite;
    }
}