---
import { Image } from 'astro:assets';
import logo from '../assets/LogoVancouver.svg';
import NavLink from './NavLink.astro';
---

<header class="w-full flex justify-center gap-0.5 fixed top-0 z-50">
    
    <div class="p-2 bg-dark dark:bg-white rounded-full">
    <Image
        id="isotype"
        src={logo}
        alt="Logo de Vancouver Mind Body"
        width={200}
        class="not-dark:invert size-6 "
        loading="eager"
      />

    </div>
    <div class="flex gap-0.5 px-0.5 bg-dark dark:bg-white text-sm font-semibold dark:text-white rounded-full">
        <NavLink href="#home" label="Home" />
        <NavLink href="#about" label="About Us" />
        <NavLink href="#services" label="Steps" />
        <NavLink href="#team" label="Team" />
    </div>
    <div class="flex gap-0.5 px-0.5 bg-dark dark:bg-white text-sm font-semibold text-white rounded-full">
        <button
            type="button"
            class="group relative flex items-center px-5 my-0.5 bg-gym-500 text-white rounded-full transition-all duration-300 ease-in-out hover:bg-gym-600 hover:shadow-md overflow-hidden"
        >
            <span class="relative z-10 transition-transform">
                TRY NOW
            </span>
            <span class="absolute left-5 bottom-1 h-[2px] w-0 bg-white group-hover:w-[calc(100%-2.5rem)] rounded-full transition-all duration-300 ease-in-out"></span>
        </button>
    </div>
</header>

<script>
    import gsap from 'gsap';

    const logo = document.getElementById('isotype');

    logo.addEventListener('mouseenter', () => {
    gsap.to(logo,
        {
        rotate: 180,
        duration: 0.8,
        ease: 'power2.out'
        }
    );
    });
    logo.addEventListener('mouseleave', () => {
        gsap.to(logo,
        {
            rotate: 0,
            duration: 0.8,
            ease: 'power2.out'
        }
        );
    });
</script>