<section class="w-full px-16 flex flex-col gap-10">
  <div class="w-1/2">
    <h1 class="text-7xl font-extrabold">
      VANCOUVER<br/>
      MIND BODY CENTRE
    </h1>
    <p class="text-2xl mt-4 font-semibold">
      Group Fitness | Personal Training | Martial Arts
    </p>
  </div>
  <div class="w-full flex justify-end">
    <p class="w-1/3 text-justify indent-6 font-semibold">
      Quis id ex adipisicing tempor id aliqua sit eu voluptate irure. Laboris qui ut incididunt laboris. Ad elit incididunt proident laboris commodo. Exercitation dolore est magna irure. 
    </p>
  </div>
  <div class="mt-12 flex justify-center">
    <svg  id="scroll-arrow" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-compact-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 11l8 3l8 -3" /></svg>
  </div>
</section>


<!-- GSAP Animation -->
<script>
  import gsap from 'gsap';
  gsap.to("#scroll-arrow", {
    y: 10,
    repeat: -1,
    yoyo: true,
    ease: "sine.inOut",
    duration: 1.2
  });
</script>
