---
export interface Props {
  title?: string;
  subtitle?: string;
  description?: string;
  sectionId?: string;
}

const {
  title = 'Book Your Free Strength & Movement Class Today',
  subtitle = 'Group Fitness | Personal Training | Martial Arts',
  description = 'Quis id ex adipisicing tempor id aliqua sit eu voluptate irure...',
  sectionId = 'Hero'
} = Astro.props;
---

<section
  id={sectionId}
  class="relative w-full px-4 sm:px-10 md:px-16 py-20 flex flex-col gap-10 overflow-hidden"
>
  <!-- Video de fondo -->
  <video
    autoplay muted loop playsinline
    class="absolute inset-0 w-full h-full object-cover"
  >
    <source
      src="https://pub-e99d4e6e55b14d18816edeb39b164ac6.r2.dev/hero-background-vancouvermindbody.mp4"
      type="video/mp4"
    />
  </video>

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/40 dark:bg-black/80 z-10" />

  <!-- Contenido sobre video+overlay -->
  <div class="relative z-20 w-full max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col gap-10 text-white">
    <div class="w-full md:w-1/2">
      <h1
        class="uppercase text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold leading-tight [&>br]:hidden sm:[&>br]:block"
        set:html={title}
      />
      <p class="text-lg sm:text-xl md:text-2xl mt-4 font-semibold">
        {subtitle}
      </p>
      <a href="https://www.google.com/maps/place/Vancouver+Mind-Body+Centre+(VMBC)/@49.2239899,-123.1038841,17z/data=!3m2!4b1!5s0x5486746a3f6c0445:0x157bebac1ffb7e3e!4m6!3m5!1s0x548673f8ac09a673:0x1f5bb2f281e4e969!8m2!3d49.2239899!4d-123.1013092!16s%2Fg%2F1tglyp5l?entry=ttu&g_ep=EgoyMDI1MDYyMy4yIKXMDSoASAFQAw%3D%3D" class="text-sm" target="_blank">6682 Main St</a>
    </div>

    <div class="flex flex-col gap-y-8 lg:flex-row sm:justify-between sm:items-center w-full">
      <a class="capitalize px-4 py-2 bg-gym-500 flex items-center justify-center rounded-full text-4xl font-black text-center" href="">book your free class</a>
      <p class="sm:w-2/3 md:w-1/2 lg:w-1/3 text-justify indent-6 font-semibold">
      {description}
      </p>
    </div>

    <div class="mt-12 flex justify-center">
      <svg
        id="scroll-arrow"
        xmlns="http://www.w3.org/2000/svg"
        width="36" height="36" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2"
        class="animate-pulse"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 11l8 3l8 -3" />
      </svg>
    </div>
  </div>

  <!-- Degradado inferior -->
  <div
    class="pointer-events-none absolute inset-x-0 bottom-0 h-32 bg-gradient-to-b from-transparent to-[var(--bg)] z-20"
  />
</section>

<script>
  import gsap from 'gsap';

  gsap.to("#scroll-arrow", {
    y: 10,
    repeat: -1,
    yoyo: true,
    ease: "sine.inOut",
    duration: 1.2
  });
</script>
