<p class="py-4 bg-gym-500 text-gray-900 text-center">
  Aute enim esse ut exercitation quis ut ut in pariatur qui elit non.<a
    href="https://www.pixelrocket.store"
    class="font-semibold"
  >
    Proident esse ea est.</a>
</p>
